<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Absans-Regular.otf</string>
		<string>Pangram-Black.otf</string>
		<string>Pangram-Bold.otf</string>
		<string>Pangram-ExtraBold.otf</string>
		<string>Pangram-ExtraLight.otf</string>
		<string>Pangram-Light.otf</string>
		<string>Pangram-Medium.otf</string>
		<string>Pangram-Regular.otf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.recipeready.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>recipeready</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
